input[type="range"]::-webkit-slider-thumb {
  /* Estilo para el pulgar en navegadores WebKit (Chrome, Safari, etc.) */
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--thumb-color);
  border: none;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  /* Estilo para el pulgar en navegadores Firefox */
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--thumb-color);
  border: none;
  border-radius: 50%;
}
